doctype html
meta(name="viewport" content="width=device-width, initial-scale=1.0")
html
    head
        title DSLearn - About
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(rel="stylesheet" type="text/css" href="/CSS/about.css")
    link(rel="shortcut icon" type="image/png" href="/CSS/Images/tabLogo.png")
    body
        include ./header.pug
        div
            div.imgDiv
                img(width="250px" height="245px" src="/CSS/Images/meSmiley.jpeg")
            div.textDiv
                p
                    |Hi! I'm Gufran and I'll be your instructor here on DSLearn.
                    |I'm currently an undergrad student majoring in Computer Science. I'm extremely passionate
                    |about computer programming and I'm very excited to teach you.
                    |To be completely honest, I'm no expert. But that is exactly why I made this website. 
                    |I firmly believe in accessible and understandable knowledge. I felt my understanding as a student
                    |would be more relatable and accessible to anyone trying get a grasp on both simple and advanced data structure concepts.
                    br
                    br
                    |Anyway, I'm glad to see you here on this platform! I hope you have an enjoyable time learning at DSLearn! 
                    |Please don't click 
                    a(href="") here
                    |&nbspto contact me. Scroll all the way down to the bottom of the page to find my contact info.
        include ./footer.pug
