doctype html
meta(name="viewport" content="width=device-width, initial-scale=1.0")
html
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(rel="stylesheet" type="text/css" href="/CSS/footer.css")
    script.
        $(document).ready(function(){$("#cpr").html("Gufran copyrighted &#169; "+ new Date().getFullYear()+" , all rights reserved.")})
    body
        div.foot
            //- div.box
            //-     h4 Navigation
            //-     a(href="/") Home
            //-     br
            //-     a(href="/learn" target='_blank') Learn
            //-     br
            //-     a(href="/learn" target='_blank') Tests
            //-     br
            //-     a(href="/algorithms" target='_blank') Algorithms
            //-     br
            //-     a(href="/About" target='_blank') About
            //-     br
            //- div.box
            //-     h4 Contact
            //-     span +966 50 779 4453
            //-     br
            //-     span dslearn.dnr@gmail.com
            //-     br
            //-     a(href="https://www.instagram.com/gufran_sabri/" target='_blank') Instagram
            //-     br
            //- div.box
            //-     h4 Other
            //-     a(href="https://codepadd.000webhostapp.com/index.html" target='_blank') CodePad++
            //-     br
            //-     a(href="https://github.com/gufranSabri/Samurai-Rendition" target='_blank') Samurai Rendition
            //-     br
            //-     a(href="https://ask-pmu.herokuapp.com/" target='_blank') Ask Forum
            //-     br
        h5#cpr(style="text-align: center;") Gufran copyrighted &#169; 2020, all rights reserved.
